body{
    margin-top: 55px;
}

#containerForm{
    margin-top: 10%;
}

#contentForm{
    margin: 8% ;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05); 
}

.signin-text{
    font-style: normal;
    font-weight: 600 ;
}

.form-control-begin{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #138c7d;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0px;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;

}

.form-control-begin:focus{
    color: #495057;
    background:#fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class{
    border-color: #138c7d;
    color: #138c7d;
}
.btn-class:hover{
    background:#138c7d;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}
.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

#blogcase {
    height:300px;
    color:gray;
    }

.mb-resp{
      height:190px;
      margin-bottom: 1rem;
  }


#boxes .card:hover{
    background: rgba(243, 241, 241, 0.5); 
  }

#mid-section a{
    color:#333;
  }

#mid-section a:hover{
      text-decoration: none;
      color:#138c7d;
  }

#boxes a:hover{
    text-decoration: none;
  }

#from-section a:hover{
    text-decoration: none;
  }

#explore-section .fas{
  color: #fff;
  background-color: #138c7d;
  padding: 5px;
  border-radius: 5px;
}


@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }

}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }  
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 3;
  }
}

.carousel-control-prev, .carousel-control-next{
  height: 70px;
  width: 80px;    
 }

.carousel-control-prev-icon { 
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23138c7d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
      width: 30px;
      height: 48px;
  }
  
.carousel-control-next-icon { 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23138c7d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      width: 30px;
      height: 48px;
    }

input#modalOutput[type="text"]::placeholder { 
      text-align: center;
  }


  /*---------animation--------------*/

  .context {
    width: 100%;
    position: absolute;
    top:30vh;
    
}

.area{
    background: #138c7d;
    background: -webkit-linear-gradient(to left, #8ac73b, #26a760);  
    width: 100%;
    height:450px   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255,0.5);
    animation: animate 25s linear infinite;
    bottom: -100px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
